<div class="row">
    <div class="col-md-12" ng-repeat="result in searchResponse">
        <hr/>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <img class="consultant-avatar img-rounded" ng-src="{{ getAvatarImgName( result.StructuredXMLResume.ContactInfo.ContactMethod.InternetEmailAddress ) }}"/>
                    </div>
                    <div class="col-md-9">
                        <h1>{{ result.StructuredXMLResume.ContactInfo.PersonName.GivenName }} {{ result.StructuredXMLResume.ContactInfo.PersonName.FamilyName }}</h1>
                        <h4><a href="mailto:{{ result.StructuredXMLResume.ContactInfo.ContactMethod.InternetEmailAddress.toLowerCase() }}">{{ result.StructuredXMLResume.ContactInfo.ContactMethod.InternetEmailAddress.toLowerCase() }}</a></h4>
                        <h4><a href="tel:+{{ result.StructuredXMLResume.ContactInfo.ContactMethod.Mobile }}">{{ result.StructuredXMLResume.ContactInfo.ContactMethod.Mobile }}</a></h4>
                        <h4>{{ result.StructuredXMLResume.ContactInfo.ContactMethod.PostalAddress.City }}, {{ result.StructuredXMLResume.ContactInfo.ContactMethod.PostalAddress.State }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4><i>{{ result.StructuredXMLResume.EmploymentHistory.EmployerOrg.PositionHistory[0].Title }}</i>, {{ result.StructuredXMLResume.EmploymentHistory.EmployerOrg.PositionHistory[0].OrgName.OrganizationName }}</h4>
                <h4><span class="header-label">{{ result.StructuredXMLResume.EmploymentHistory.EmployerOrg.PositionHistory[0].StartDate }}</span></h4>
                <table class="table table-striped">
                    <tr>
                        <th>Skills</th>
                        <th>Experience</th>
                    </tr>
                    <tr ng-repeat="skill in result.StructuredXMLResume.Qualifications.Competency">
                        <td ng-bind-html="skill.CompetencyDisplayName | highlight:query"></td>
                        <td>{{ skill.YearsExperience }}yrs</td>
                    </tr>
                </table>
            </div>
    </div>
</div>