div[id^="cke_editor-"]{
    display: hidden;
}

.cke_top, .cke_bottom{
    background-image: none !important;
    background: #F2F2F2 !important;
}

.cke_chrome{
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.skills-scroller {
    overflow: scroll;
    max-height: 50em;
    padding: 1em;
    .skills-table {
        border-radius: 8px;
        box-shadow: none;
        width: 100%;
        thead {
            box-shadow: 0 1px 0 #fff inset;
            font-weight: bold;
            font-size: large;
        }
        th {
            padding: 3px;
            color: #60676a;
        }
        tr {
            border-bottom: 1px solid #bfd4e5;
            .icon{
                width: 5.5em;
            }
            td {
                padding: 3px;
                height: 75px;

                .skill-icon {
                    max-width: 5em;
                    float: left;
                }
                .skill-name {
                    margin: 10px 0px 0px 6em;
                    font-weight: bold;
                    width: 16em;
                }
                .skill-controls {
                    cursor: pointer;
                    .edit {
                        color: rgba(145, 115, 174, 0.86);
                    }
                    .edit:hover {
                        color: #2c4487;
                    }
                    .remove {
                        color: rgba(163, 0, 7, 0.56);
                    }
                    .remove:hover {
                        color: #640006;
                    }
                    .save {
                        color: #008000;
                    }
                    .save:hover {
                        color: #004000;
                    }
                }
            }
        }
    }
}


.well{
    margin-top:15px;
}

.light-well{
    background-color: #FAFAFA;
    margin-top:20px;
    margin-left: 15px;
    margin-right: 15px;
    h3:first-of-type{
        margin-top: 10px;
    }
    overflow: auto;
}

.dashed-well{
    border: 4px dashed #d9d9d9;
}

p a {
    font-size: 15px;
    line-height: 1.6;
}

.filter-form{
    margin-left:60%;
}

.skills-scroller .skills-table th{
    font-size: 15px;
}


.tt-hint {
    color: #999;
}

.tt-menu,.tt-dropdown-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}





