<div class="col-md-12 well">
    <div class="row">
        <div class="col-md-8">
            <h1><a href="#" e-required e-placeholder="Project Name" editable-text="project.ProjectSummary.ProjectName">{{ project.ProjectSummary.ProjectName || "empty" }}</a></h1>
            <h3><a href="#" e-required e-placeholder="Client Name" editable-text="project.ClientOrganizationName">{{ project.ClientOrganizationName || "empty" }}</a></h3>
            <h4><a href="mailto:{{ project.ClientWebsite }}" e-required e-placeholder="Client Email" editable-text="project.ClientWebsite">{{ project.ClientWebsite }}</a></h4>
        </div>
        <div class="col-md-4">
            <table class="project-dates">
                <tr>
                    <td>
                        <span>Practice: </span>
                    </td>
                    <td>
                        <a href="#" e-required e-placeholder="Geo Practice" editable-text="project.ProjectSummary.GeoPractice">{{ project.ProjectSummary.GeoPractice || "empty" }}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Start Date: </span>
                    </td>
                    <td>
                        <a href="#" e-required e-placeholder="Project Name" editable-text="project.AssignmentDateRange.StartDate">{{ project.AssignmentDateRange.StartDate || "empty" }}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>End Date:</span>
                    </td>
                    <td>
                        <a href="#" e-required e-placeholder="Project Name" editable-text="project.AssignmentDateRange.ExpectedEndDate">{{ project.AssignmentDateRange.ExpectedEndDate || "empty" }}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Extension Date:</span>
                    </td>
                    <td>
                        <a href="#" e-required e-placeholder="Project Name" editable-text="project.AssignmentDateRange.ActualEndDate">{{ project.AssignmentDateRange.ActualEndDate || "empty" }}</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Global Description: </h2>
            <div class="well light-well">
                <p>
                <a href="#" e-rows="8" e-cols="80" e-style="width: 90%" data-type="textarea" e-required e-placeholder="Project Description" editable-textarea="project.ProjectSummary.ProjectDescription">{{ project.ProjectSummary.ProjectDescription || "empty" }}</a>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Technology Stack:</h2>
                <div class="well light-well">
                    <div class="col-md-3">
                        <h4>Front End:</h4>

                        <ul class="list-unstyled">
                            <li ng-repeat="tech in project.TechnologyStack.Technology | excludeOthers:'frontend'">
                                <!-- if an image is found, don't bother showing text -->
                                <!-- <img class="skill-icon" ng-src="{{ getSkillImg(tech.CompetencyDisplayName) }}" alt="{{ getSkillImg(tech.CompetencyDisplayName) }}"/>-->
                                <!-- show text when editing and hide image -->
                                <h4 class="" editable-text="tech.name" e-name="stackTechName" e-typeahead="skill for skill in skillNames | filter:$viewValue | limitTo:10" typeahead-editable="false">
                                    <!-- {{ showSkill(skillRole) }} -->
                                    {{ tech.name }}</h4>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>Back End:</h4>
                        <ul class="list-unstyled">
                            <li ng-repeat="tech in project.TechnologyStack.Technology | excludeOthers:'backend'">
                                <!-- if an image is found, don't bother showing text -->
                                <!-- <img class="skill-icon" ng-src="{{ getSkillImg(tech.CompetencyDisplayName) }}" alt="{{ getSkillImg(tech.CompetencyDisplayName) }}"/>-->
                                <!-- show text when editing and hide image -->
                                <h4 class="" editable-text="tech.name" e-name="stackTechName" e-typeahead="skill for skill in skillNames | filter:$viewValue | limitTo:10" typeahead-editable="false">
                                    <!-- {{ showSkill(skillRole) }} -->
                                    {{ tech.name }}</h4>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>Middleware:</h4>
                        <ul class="list-unstyled">
                            <li ng-repeat="tech in project.TechnologyStack.Technology | excludeOthers:'middleware'">
                                <!-- if an image is found, don't bother showing text -->
                                <!-- <img class="skill-icon" ng-src="{{ getSkillImg(tech.CompetencyDisplayName) }}" alt="{{ getSkillImg(tech.CompetencyDisplayName) }}"/>-->
                                <!-- show text when editing and hide image -->
                                <h4 class="" editable-text="tech.name" e-name="stackTechName" e-typeahead="skill for skill in skillNames | filter:$viewValue | limitTo:10" typeahead-editable="false">
                                    <!-- {{ showSkill(skillRole) }} -->
                                    {{ tech.name }}</h4>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>Bug Reporting:</h4>
                        <ul class="list-unstyled">
                            <li ng-repeat="tech in project.TechnologyStack.Technology | excludeOthers:'bugreporting'">
                                <!-- if an image is found, don't bother showing text -->
                                <!-- <img class="skill-icon" ng-src="{{ getSkillImg(tech.CompetencyDisplayName) }}" alt="{{ getSkillImg(tech.CompetencyDisplayName) }}"/>-->
                                <!-- show text when editing and hide image -->
                                <h4 class="" editable-text="tech.name" e-name="stackTechName" e-typeahead="skill for skill in skillNames | filter:$viewValue | limitTo:10" typeahead-editable="false">
                                    <!-- {{ showSkill(skillRole) }} -->
                                    {{ tech.name }}</h4>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Consultants:</h2>
            <div class="well light-well">
                <div class="col-md-6 consultant well" ng-repeat="position in project.PositionHistory.Position">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="consultant-avatar img-rounded" ng-src="{{ getAvatarImgName( position.filledBy.ContactInfo.ContactMethod.InternetEmailAddress ) }}"/>
                            <h4 ng-if="position.filledBy.ContactInfo.ContactMethod.InternetEmailAddress !== 'generic@avalonconsult.com'" ng-click="goToResume( position.filledBy.ContactInfo.ContactMethod.InternetEmailAddress.toLowerCase() )"><a href="#">{{ position.filledBy.ContactInfo.PersonName.GivenName }} {{ position.filledBy.ContactInfo.PersonName.FamilyName }}</a></h4>
                            <a href="mailto:{{ position.filledBy.ContactInfo.ContactMethod.InternetEmailAddress.toLowerCase() }}"><i class="glyphicon glyphicon-envelope"></i> Email</a>
                            <br/>
                            <a href="tel:+{{ position.filledBy.ContactInfo.ContactMethod.Mobile }}"><i class="glyphicon glyphicon-phone"></i> {{ position.filledBy.ContactInfo.ContactMethod.Mobile }}</a>
                            <h4>{{ position.filledBy.ContactInfo.ContactMethod.PostalAddress.City }}, {{ position.filledBy.ContactInfo.ContactMethod.PostalAddress.State }}</h4>
                        </div>
                        <div class="col-md-8">
                            <h3 class="position-title" editable-text="position.PositionTitle" e-name="positionTitle"><a href="#">{{ position.PositionTitle }}</a></h3>
                            <h4 class="uneditable">{{ position.PositionResponsibilies }}</h4>
                            <ul class="consultant-skills-list" ng-if="position.CompetenciesRequired.Competency.length > 0">
                                <li ng-repeat="skill in position.CompetenciesRequired.Competency">
                                    <h4 class="" e-style="width: 60%" editable-text="skill.DisplayName" e-name="consultantSkillName" e-typeahead="skill for skill in skillNames | filter:$viewValue | limitTo:10" typeahead-editable="false">
                                        {{ skill.DisplayName }}
                                    </h4>
                                </li>
                            </ul>
                            <button class="add-skill btn btn-success" ng-click="addSkill($index)" ng-if="position.CompetenciesRequired.Competency.length === 0"><span class="glyphicon glyphicon-plus"></i> Skill</button>
                        </div>
                    </div>
                </div>
                <button class="add-consultant btn btn-success" ng-click="addConsultant()"><span class="glyphicon glyphicon-plus"></i> Consultant</button>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h2>Client Contacts:</h2>
            <div class="well light-well">
                <div class="col-md-6 consultant well" ng-repeat="contact in project.ClientContacts.ClientContact">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="consultant-avatar img-rounded" src="/assets/avatars/generic.jpg"/>
                            <h4><a href="#">{{ contact.ContactInfo.PersonName.GivenName }} {{ contact.ContactInfo.PersonName.FamilyName }}</a></h4>
                            <a href="mailto:{{ contact.ContactInfo.ContactMethod.InternetEmailAddress.toLowerCase() }}"><i class="glyphicon glyphicon-envelope"></i> Email</a>
                            <br/>
                            <a href="tel:+{{ contact.ContactInfo.ContactMethod.Mobile }}"><i class="glyphicon glyphicon-phone"></i> {{ contact.ContactInfo.ContactMethod.Mobile }}</a>
                            <!-- <h4>{{ position.filledBy.ContactInfo.ContactMethod.PostalAddress.City }}, {{ position.filledBy.ContactInfo.ContactMethod.PostalAddress.State }}</h4> -->
                        </div>
                        <div class="col-md-8">
                            <h3 class="position-title" editable-text="contact.ContactInfo.PositionTitle" e-name="positionTitle"><a href="#">{{ contact.ContactInfo.PositionTitle }}</a></h3>
                            <h4 >{{ contact.ContactInfo.PositionResponsibilies }}</h4>
                        </div>
                    </div>
                </div>
                <button class="add-client-contact btn btn-success" ng-click="addClientContact()"><span class="glyphicon glyphicon-plus"></i> Client Contact</button>
            </div>
        </div>
    </div>


</div>