<div id="rw-google-login-wrapper">
<div id="google-login" class="g-signin2 btn" data-onsuccess="onSignIn"></div>
<div class="rw-user-login-status-wrapper">
    <span class="rw-google-user-role" ng-show="isAuthenticated">As: {{session.userName}}</span>
    <a class="rw-sign-out" href="#" ng-show="isAuthenticated" ng-click="signOut()">Sign out</a>
</div>
</div>

<!-- https://developers.google.com/+/web/signin/customize

 <div id="gSignInWrapper">
    <span class="label">Sign in with:</span>
    <div id="loginBtn" class="customGPlusSignIn" data-onsuccess="onSignIn">
        <span class="icon"></span>
        <span class="buttonText">Google</span>
        <a ng-show="loggedIn" href="#" onclick="signOut()">Sign out</a>
    </div>
</div> -->
