<div class="col-md-12">
    <div class="row well dashed-well">
        <div class="col-md-6 col-md-offset-3">
            <form name="createNewUser" ng-submit = "admin.douser()" novalidate>
                <div class="form-group">

                    <label>User Name</label>
                    <input class="form-control" ng-model="admin.createUser.userName" type="text" required></input>
                    <label>First Name</label>
                    <input class="form-control" ng-model="admin.createUser.firstName" type="text" required></input>
                    <label>Last Name</label>
                    <input class="form-control" ng-model="admin.createUser.lastName" type="text" required></input>

                    <label>Email</label>
                    <input class="form-control" ng-model="admin.createUser.email" type="text" required></input>
                    <label>Phone</label>
                    <input class="form-control" ng-model="admin.createUser.phone" type="text" required></input>
                    <label>City</label>
                    <input class="form-control" ng-model="admin.createUser.city" type="text" required></input>
                    <label>State</label>
                    <input class="form-control" ng-model="admin.createUser.state" type="text" required></input>
                    <label>Zip</label>
                    <input class="form-control" ng-model="admin.createUser.zip" type="text" required></input>


                    <br />
                    <button class="add-skill btn btn-success pull-right" type="submit" ><i class="glyphicon glyphicon-ok"></i> Save</button>

                </div>
            </form>
        </div>
    </div>
</div>
