.skill-icon{
    max-width: 6em;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.CompetencyDisplayName{
    text-align: center;
    font-size: 18px;
}

div[id^="cke_editor-"]{
    display: hidden;
}

#skills-table{
    border: 1px solid #b6b6b6;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    box-shadow: 0 0 3px rgba(0,0,0,.15);
    thead{
        background-image: -webkit-linear-gradient(top,#ebebeb,#cfd1cf);
        box-shadow: 0 1px 0 #fff inset;
        background: #cfd1cf;
        border: 1px solid #bfbfbf;
        border-top: 1px solid white;
    }
    .editable-wrap{
        display: inline;
    }
}

.light-well{
    background-color: #FAFAFA;
    h3:first-of-type{
        margin-top: 0px;
    }
    overflow: auto;
}

.dashed-well{
    border: 4px dashed gray;

}