<div class="col-md-12">
    <div class="row">
        <!-- click-edit-link http://plnkr.co/edit/EsW7mV?p=preview -->
        <!-- plus button http://plnkr.co/edit/xUDrOS?p=preview -->
        <!-- http://vitalets.github.io/angular-xeditable/ -->
        <div>
            <div class="contact-header">
                <h1>{{ resume.ContactInfo.PersonName.GivenName }} {{ resume.ContactInfo.PersonName.FamilyName }}</h1>
                <h3>{{ resume.EmploymentHistory.EmployerOrg.EmployerOrgName }}</h3>
                <h4>{{ resume.EmploymentHistory.EmployerOrg.PositionHistory[0].Title }}</h4>
            </div>

            <h2>Experience</h2>
            <div class="exper">
                <div ng-repeat="pos in positionHistory">
                    <hr/>
                    <h2><a href="#" e-required e-placeholder="Organization Name" editable-text="pos.OrgName.OrganizationName">{{ pos.OrgName.OrganizationName || "empty" }}</a></h2>
                    <h3><a href="#" e-required e-placeholder="Position Title" editable-text="pos.Title">{{ pos.Title || "empty" }}</a></h3>

                    <!-- Integrate CKEDitor http://jsfiddle.net/jWANb/2/ -->
                    <div class="ck-editor" ng-model="text">{{ pos.Description }}</div>

                </div>
            </div>
            {{ resume }}
        </div>

    </div>
</div>