<form class="ds-navbar-search-form" role="search" ng-submit="search()">
  <!-- Input Group -->
  <div class="input-group">
    <!-- Query -->
    <input type="text" class="form-control" placeholder="Search by title, keyword, ID and more..." ng-model="query" options="typeaheadOptions" datasets="typeaheadData" sf-typeahead autofocus>

      <!-- Clear Search Button -->
      <i class="fa fa-times" ng-click="clearSearch()" ng-show="query || query.length > 0"></i>

      <!-- Submit -->
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Go</button>
      </span>
    </div>
  </form>
