<!DOCTYPE html>
<html ng-app="resumeWrangler" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@joshdmiller">
    <meta name="twitter:title" content="ngBoilerplate">
    <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ngBoilerplate" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/ngBoilerplate" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="google-signin-client_id" content="486964627874-jhej0dhmph3iblbjuvhfrovai0pissbl.apps.googleusercontent.com">


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <script src="https://apis.google.com/js/platform.js" async defer></script>

  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
            ng-click="menuCollapsed = ! menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
              <img src="http://blogs.avalonconsult.com/files/2013/04/avalon-transparent.png"/>

            &#x2003;Resume Wrangler
            <small>
              <a href="http://github.com/ngbp/ngbp/blob/v<%= version %>-release/CHANGELOG.md">
                v<%= version %>
              </a>
            </small>

        </div>
        <div class="collapse navbar-collapse" collapse="menuCollapsed">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active">
              <a href ui-sref="home">
                <i class="fa fa-home"></i>
                Home
              </a>
            </li>
              <li ui-sref-active="active">
                  <a href ui-sref="view({ firstName: session.firstName, lastName: session.lastName})">
                      <i class="glyphicon glyphicon-eye-open"></i>
                      Resume
                  </a>
              </li>
            <li ui-sref-active="active" ng-if="isAuthorized(['editor','admin'])">
              <a href ui-sref="edit">
                <i class="fa fa-edit"></i>
                Resume
              </a>
            </li>
            <li ui-sref-active="active" ng-if="isAuthorized(['editor','admin'])">
              <a href ui-sref="projects">
                  <i class="fa fa-edit"></i>
                  Projects
              </a>
            </li>
            <li ui-sref-active="active" ng-if="isAuthorized(['editor','admin'])">
              <a href ui-sref="skills">
                  <i class="fa fa-edit"></i>
                  Skills
              </a>
            </li>
            <!--<li>-->
              <!--<a href="#">-->
                <!--<i class="fa fa-book"></i>-->
                <!--Read the Docs-->
              <!--</a>-->
            <!--</li>-->
          </ul>
          <div class="pull-right">
              <ds-user-login></ds-user-login>
          </div>

        </div>


        <div class="col-md-12">
          <div class="row">
              <ds-search-form></ds-search-form>
          </div>
        </div>
      </div>
    </div>

    <div ui-view="main"></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
            <p>Copyright Avalon Consulting LLC 2015</p>
        </div>
      </div>
    </footer>
  </body>
</html>
