<div class="col-md-3">
    <div class="row well">
        <h2>Filter Resume:</h2>
        <form>
            <div class="form-group">
                <label>Search For:</label>
                <br/>
                <input type="text" ng-model="skill" typeahead="skill for skill in skillNames | filter:$viewValue | limitTo:10" placeholder="Skill.."></input>

                <h4>Date Range</h4>
                <div class="input-daterange">
                    <label>From:</label>
                    <br/>
                    <input type="text" class="input-small" value="2014-04-05" />
                    <br/>
                    <label>To:</label>
                    <br/>
                    <input type="text" class="input-small" value="2015-04-19" />
                </div>

                <br/>
                <h4>Tech Type:</h4>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Front End
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Back End
                    </label>
                </div>

                <h4>Stack:</h4>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        ELK
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Grails
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Node
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        C# .Net
                    </label>
                </div>

                <h4>Include:</h4>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Lifetime Skillset
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Certifications
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Education
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Publications
                    </label>
                </div>

            </div>
        </form>
    </div>
</div>
<div class="col-md-9">
    <div class="row well">
        <!-- click-edit-link http://plnkr.co/edit/EsW7mV?p=preview -->
        <!-- plus button http://plnkr.co/edit/xUDrOS?p=preview -->
        <!-- http://vitalets.github.io/angular-xeditable/ -->
            <div class="col-md-12">
                    <div>
                        <div class="pull-left" ng-if="isAuthorized(['editor','admin'])
                                && contact.firstName === session.firstName
                                && contact.lastName === session.lastName">
                            <a href ui-sref="edit({ firstName: session.firstName, lastName: session.lastName})">
                                <i class="fa fa-2x fa-edit"></i> Edit Resume
                            </a>
                        </div>
                        <div class="pull-right">
                            <span>Download As:</span>
                            &#x2003;
                            <a href="#"><img class="download-icon" src="/assets/icons/pdf.png"/></a>
                            &#x2003;
                            <a href="#"><img class="download-icon" src="/assets/icons/word-doc.png"/></a>
                        </div>
                    </div>
            </div>
            <div class="col-md-12" ng-if="contact.firstName">
                <h1    id="contactName">{{ contact.firstName }} {{ contact.lastName }}</h1>
                <h4><a id="contactEmail"  href="mailto:{{ contact.email }}"> {{ contact.email }} </a></h4>
                <h4><a id="contactPhone"  href="tel:+{{ contact.phone }}"> {{ contact.phone }} </a></h4>
                <h4    id="contactTimezone"> {{ contact.timezone }} </h4>
            </div>


        <!-- skills -->
        <div class="col-md-12" ng-if="resume.skills.length > 0">
            <h2>Development Skills</h2>
            <label>Filter By:</label><input type="text" class="form-control" ng-model="view.skillFilter"></input>
            <div class="skills-scroller well">
                <form>
                    <table class="skills-table">
                        <!-- <thead>
                        <th>Skill</th>
                        <th>Experience</th>
                        <th>Edit</th>
                        </thead> -->
                        <tr ng-repeat="skillRole in resume.skills | filter:view.skillFilter | orderBy:skillRole.name" ng-init="skillRole.isEditing = false">
                            <td class="icon" ng-if="skillRole.isEditing === false">
                                <img class="skill-icon" ng-src="{{ view.getSkillImg(skillRole) }}" alt="img"/>
                                <p ng-bind-html="skillRole.name | highlight:view.skillFilter"  class="skill-name"></p>
                            </td>
                            <td class="skillname" ng-if="skillRole.isEditing === true">
                                <input class="form-control" ng-model="skillRole.name" placeholder="Skill Name" options="typeaheadOptions" datasets="typeaheadData" sf-typeahead autofocus/>
                            </td>
                            <!--<td class="experience-read" ng-if="skillRole.isEditing === false">-->
                                <!--{{ skillRole.years + ' years' || 'empty' }}-->
                            <!--</td>-->
                            <!--<td class="experience-edit" ng-if="skillRole.isEditing === true">-->
                                <!--<input class="form-control" ng-model="skillRole.years" placeholder="Years Experience" ng-pattern="'[0-9]+'"/>-->
                            <!--</td>-->
                        </tr>
                    </table>
                </form>
            </div>
        </div>

            <div class="col-md-12">
                <h2>Experience:</h2>
                <div class="exper">
                    <div ng-repeat="emplyr in resume.employmentHistory">
                    <div class="well light-well" ng-repeat="pos in emplyr.positions">

                        <h3><a href="#" e-placeholder="Service Provider Organization Name">{{ emplyr.employerOrgName || "empty" }}</a></h3>

                        <h3>{{ pos.title || "empty" }}</h3>
                        <h4 ng-if="pos.contractingOrgName">{{ pos.contractingOrgName }}</h4>
                        <span>{{ pos.startDate || "empty" }}</span>
                        <span> to </span>
                        <span>{{ pos.endDate || "empty" }}</span>
                        <h4 class="uneditable" ng-if="pos.GlobalDescription">{{ pos.GlobalDescription }}</h4>
                        <br ng-if="!pos.GlobalDescription"/>
                        <br ng-if="!pos.GlobalDescription"/>
                        <!-- Integrate CKEDitor http://jsfiddle.net/jWANb/2/ -->
                        <div class="resume-descr" ng-model="description" ng-bind-html="pos.description"></div>



                        <br/>
                        <!-- <div class="description-noEdit well" ng-bind-html="pos.Description"></div> -->
                        <!-- START SKILLS TABLE -->
                        <div ng-if="pos.skills.length > 0">
                            <table id="skills-table view" class="table table-hover table-condensed">
                                <thead>
                                <th>Skill</th>
                                <th>Role</th>
                                </thead>
                                <tr ng-repeat="skillRole in pos.Competency">
                                    <td>
                                        <!-- if an image is found, don't bother showing text -->
                                        <img class="skill-icon" ng-src="{{ getSkillImg(skillRole.CompetencyDisplayName) }}" alt="{{ getSkillImg(skillRole.CompetencyDisplayName) }}" ng-click="rowform.$show();$(this).hide()"/>
                                        <!-- show text when editing and hide image -->
                                        <p ng-show="showSkillName" class="CompetencyDisplayName" e-name="CompetencyDisplayName" e-form="rowform" ng-click="rowform.$show()" e-typeahead="skill for skill in skillNames | filter:$viewValue | limitTo:10" typeahead-editable="false">
                                        <!-- {{ showSkill(skillRole) }} -->
                                        {{ skillRole.CompetencyDisplayName }}</p>
                                    </td>
                                    <td>
                                        <!-- editable role (text with validation) -->
                                        <span e-name="CompetencyEvidence" e-form="rowform" ng-click="rowform.$show()">
                                            {{ skillRole.CompetencyEvidence || 'empty' }}
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>


                        <!-- end emplyr -->

                </div>
            </div>

    </div>
</div>


<div>
    <h1>Test PDF</h1>

    <script type="text/javascript">


        function genPDF(){

            var doc = new jsPDF();

            var contactName     = $('#contactName').html();
            var contactEmail    = $('#contactEmail').html();
            var contactPhone    = $('#contactPhone').html();
            var contactTimezone = $('#contactTimezone').html();


            // Contact Info
            doc.setFontSize(22);
            doc.text(20,15, contactName);
            doc.line(5,22,200,22)

            doc.setFontSize(12);
            doc.text(15, 30, contactEmail);
            doc.text(15, 35, contactPhone);
            doc.text(15, 40, contactTimezone);




            doc.save('test1.pdf')
        }


    </script>

    <a href="javascript:genPDF()">Test my PDF download</a>
</div>